button {
    cursor: pointer;
    position: absolute;
    border: none;
    opacity: 0%;
    color: transparent;
}

/* Menu buttons positions */
.start-menu-button {
    width: 100px;
    height: 25px;
    top: 85px;
    left: 80px;
}

.instructions-menu-button {
    width: 150px;
    height: 25px;
    top: 137px;
    left: 80px;
}

.ranking-menu-button {
    width: 120px;
    height: 25px;
    top: 195px;
    left: 80px;
}

.exit-menu-button {
    width: 65px;
    height: 25px;
    top: 255px;
    left: 80px;
}

/* Arrows buttons positions */
.down-arrow-position {
    width: 80px;
    height: 70px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.right-arrow-position {
    width: 70px;
    height: 80px;
    top: 230px;
    right: 0px;
}

.left-arrow-position {
    width: 70px;
    height: 80px;
    top: 230px;
    left: 0px;
}

.cutscene video {
    border-radius: 16px; 
}