button {
    cursor: pointer;
    position: absolute;
    border: none;
    opacity: 0%;
    color: transparent;
}

/* Menu buttons positions */
.start-menu-button {
    width: 130px;
    height: 30px;
    top: 100px;
    left: 80px;
}

.instructions-menu-button {
    width: 120px;
    height: 25px;
    top: 160px;
    left: 80px;
}

.exit-menu-button {
    width: 80px;
    height: 25px;
    top: 215px;
    left: 80px;
}

/* Arrows buttons positions */
.down-arrow-position {
    width: 80px;
    height: 70px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.right-arrow-position {
    width: 70px;
    height: 80px;
    top: 230px;
    right: 0px;
}

.left-arrow-position {
    width: 70px;
    height: 80px;
    top: 230px;
    left: 0px;
}

.cutscene video {
    border-radius: 16px; 
}

.notebook-position {
    width: 100px;
    height: 80px;
    top: 0px;
    right: 0px;
}

.nextt-position {
    width: 50px;
    height: 50px;
    top: 438px;
    right: 45px;
}

.second-f-position {
    width: 50px;
    height: 50px;
    top: 220px;
    right: 280px;
}

.pc-position {
    width: 150px;
    height: 90px;
    top: 190px;
    right: 545px;
}

.excel-position {
    width: 90px;
    height: 70px;
    top: 85px;
    left: 150px;
}

.form-position {
    width: 90px;
    height: 70px;
    top: 180px;
    left: 150px;
}

.exit-position {
    width: 20px;
    height: 20px;
    top: 53px;
    right: 195px;
}

.secondf-book-position {
    width: 85px;
    height: 40px;
    top: 460px;
    left: 160px;
}