.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image:nth-child(2) {
    top: calc(50% - 100px);
}

.image:nth-child(3) {
    left: calc(50% - 100px);
}

.image:nth-child(4) {
    left: calc(50% + 50px);
    top: calc(50% - 100px);
}

.image:nth-child(5) {
    left: calc(50% + 100px);
}

.image:nth-child(6) {
    top: calc(50% + 100px);
}

.selected {
    border: none;
}

.trash-text {
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Caveat', cursive;
    max-width: 300px;
    font-size: 32px;
    line-height: 24px;
}