.postit-position {
    width: 80px;
    height: 70px;
    top: 210px;
    right: 100px;
}

.lab1 {
    width: 80px;
    height: 70px;
    bottom: 20px;
    right: 305px;
}

.room {
    width: 80px;
    height: 70px;
    bottom: 100px;
    right: 360px;
}

.door {
    width: 80px;
    height: 70px;
    bottom: 150px;
    right: 450px;
}

.corridor2 {
    width: 80px;
    height: 70px;
    bottom: 70px;
    left: 230px;
}

.lab2 {
    width: 80px;
    height: 70px;
    bottom: 150px;
    right: 550px;
}

.lab1-pc {
    width: 400px;
    height: 270px;
    bottom: 150px;
    left: 550px;
}

.room-pc {
    width: 170px;
    height: 120px;
    bottom: 160px;
    right: 190px;

}

.pc-folder {
    width: 90px;
    height: 90px;
    top: 70px;
    left: 150px;
}

.closed-locker {
    width: 300px;
    height: 430px;
    bottom: 0px;
    left: 0px;
}

.terminal-position { 
    width: 100px;
    height: 110px;
    top: 170px;
    left: 205px;
}

.terminal-input {
    position: absolute;
    width: 200px;
    top: 200px;
    left: 150px;
}

.terminal-input input {
    box-sizing: border-box;
    height: 64px;
    background: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 17.8px;
}  
  
.terminal-input button {
    position: relative;
    width: 100%;
    height: 64px;
    margin-top: 32px;
    background: #029598;
    border-radius: 999px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    opacity: 100%;
    font-family: 'Reem Kufi', sans-serif;
}

.locker-name {
    position: absolute;
    width: 150px;
    right: 150px;
    font-size: 24px;
    border-radius: 16px;
    top: 185px;
    line-height: 26px;
    background: white;
    padding: 8px 36px;
    text-align: center;
    font-family: 'Caveat', cursive;
    padding: auto auto;
}

.item-scenario {
    position: absolute;
    width: 60px;
    top: 28px;
    left: 28px;
}

.item-inventory {
    position: absolute;
    width: 50px;
    top: 150px;
    left: 470px;
}

.code-exam {
    position: absolute;
    top: 90px;
    left: 148px;
    font-weight: 800;
    font-size: 24px;
}

.exam {
    position: absolute;
    max-width: 500px;
    max-height: 350px;
    right: 150px;
    top: 80px;
}

.patient-data {
    position: absolute;
    top: 140px;
    left: 294px;
    max-width: 380px;
}

.patient-age {
    margin-top: 45px;
}

.patient-gender {
    position: absolute;
    top: 65px;
    left: 136px;
}

.patient-case {
    margin-top: 45px;
}

.locked-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 22px;
    background-color: black;
    z-index: 1;
    border-radius: 4px;
    font-family: 'Reem Kufi', sans-serif;
}

.disease {
    position: absolute;
    top: 130px;
    left: 330px;
    max-width: 300px;
    font-family: 'Caveat', cursive;
    font-size: 32px;
    line-height: 32px;
}

.notebook-position {
    width: 90px;
    height: 50px;
    bottom: 120px;
    right: 340px;
}

.notebook-text {
    position: absolute;
    top: 50px;
    left: 370px;
    max-width: 270px;
    font-family: 'Caveat', cursive;
    font-size: 32px;
    line-height: 30px;
}

.cardDevice {
    width: 240px;
    height: 380px;
    bottom: 70px;
    left: 360px;
}

.medal {
    position: absolute;
    top: 170px;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
}

.congrats-text {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    font-size: 42px;
    text-align: center;
    font-family: 'Reem Kufi', sans-serif;
}


.time-text {
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    font-size: 24px;
    text-align: center;
    font-family: 'Reem Kufi', sans-serif;
}

.feedback-button {
    position: absolute;
    top: 470px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    border-radius: 12px;
    border: 2px solid gray;
    background-color: #110D24;
    opacity: 100;
    padding: 12px 32px;
    font-family: 'Reem Kufi', sans-serif;
}
