.book-position {
    width: 85px;
    height: 30px;
    right: 300px;
    top: 310px;
}

.board-position {
    width: 120px;
    height: 100px;
    top: 170px;
    right: 420px;
}

.terminal-position {
    width: 100px;
    height: 110px;
    top: 170px;
    left: 205px;
}

.initial-terminal-input {
    position: absolute;
    top: 76px;
    right: 200px;
    font-family: "Caveat", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
}

.initial-terminal-input textarea {
    width: 250px;
    height: 250px;
    outline: none;
    background: #FFFFFF;
    font-family: "Caveat", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 27px;
    letter-spacing: 0.5px;
    border-radius: 12px;
    padding: 10px;
    resize: none;
    border: none;
    background: none;
}

.initial-terminal-input input[type="radio"] {
    margin: 8px 0;
    font-size: 28px !important;
}
  
.pencil-button {
    position: absolute;
    width: 250px;
    height: 36px;
    top: 78px; 
    right: -200px;
    border: none;
    transform: rotate(37deg);
}

.question {
    position: absolute;
    top: 60px;
    left: 240px;
    width: 220px;
    font-size: 16px;
    line-height:20px ;
}
  
.options {
    position: absolute ;
   top: 80px ;
   left: 500px ;
   width: 220px ;
}

.options p {
   font-size: 16px ;
   line-height: 12px;
}

.clipboard-1 {
    position: absolute;
    top: 116px;
    width: 200px;
    left: 200px;
    font-family: 'Caveat', cursive;
}

.clipboard-2 {
    position: absolute;
    top: 0px;
    width: 200px;
    left: 350px;
    font-family: 'Caveat', cursive;
}

.clipboard-1 p, .clipboard-2 p {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    margin: 14px 0;
    font-weight: 500;
}